doctype html
head
  meta(charset='utf-8')
  title Katy James | Digital Product Designer
  link(href='http://fonts.googleapis.com/css?family=Cantarell:400,700', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Lato:100,300', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/font-awesome.min.css')
  link(rel='stylesheet', href='/css/styleguide.css')
  script(src="/js/jquery-2.1.4.min.js")
  script(src="/js/bootstrap.min.js")
  script(src="http://localhost:35729/livereload.js?snipver=1")
body
  include ./partials/_navigation
  block main
  include ./partials/_footer
