.project
  .jumbotron.bg-acbj.m-b-none
    .container
      .row
        .col-sm-12.text-center.title
          h1.animated.zoomIn acbj.com
          i.fa.fa-plus-circle.fa-3.animated.zoomIn.white
#acbjHidden.container-fluid.animated.fadeIn(style='display:none')
  .row
    .col-sm-8.col-sm-offset-2.text-center
      img(src='/img/proj-acbj.jpg', alt='acbj.com')
  .row
    .col-sm-8.col-sm-offset-2
      h2.black.text-center.m-b-md
        strong Print to digital - Building the future of a Business News Organization
      p
        | Redesigning the outdated ACBJ.com site was pretty high up on my 'omgcanIplzdothis' list. After learning as much about the company as possible in 6 months it was official. I was going to be the lead UX designer on the project.
      p
        | I started in Google Analytics, and wow, the numbers I saw were pretty terrible. The bounce rate of the homepage was 80% and the average PV time was 53 seconds. After some digging I found that users spent most of their time on the Careers page. For me, this solidified the need for a more optimized way of posting and applying for jobs- something that the old site was severely lacking.
  .row.m-t-md
    .col-sm-5.col-sm-offset-1
      img(src='/img/acbj-wf1.jpg', alt='acbj.com')
    .col-sm-5
      img(src='/img/acbj-wf2.jpg', alt='acbj.com')
  .row.m-t-sm
    .col-sm-10.col-sm-offset-1.text-center
      small
        em ACBJ.com's initial wireframes
  .row.m-t-md
    .col-sm-8.col-sm-offset-2
      p
        | With my audience and their needs determined I could define some business goals. My new design needed to inform users who ACBJ was, as well as why they would want to work there. I presented stakeholders with a creative brief and wireframes. My plan was to slim down the content, focusing only on the essentials.
  .row.m-t-md
    .col-sm-5.col-sm-offset-1
      img(src='img/acbj-wf3.jpg', alt='acbj.com')
    .col-sm-5
      img(src='img/acbj-wf4.jpg', alt='acbj.com')
  .row.m-t-sm
    .col-sm-10.col-sm-offset-1.text-center
      small
        em The prototype, built by me with Bootstrap and Sass
  .row.m-t-sm.m-b-md
    .col-sm-8.col-sm-offset-2
      p
        | When it came to the Careers page I worked with devs to set up a feed that connected with our intranet. This meant that every time a new job was posted internally, it would automatically appear on the Careers page. This lead to a huge increase in people who were applying for job listings through the site.
      p
        | Ultimately, the design was art directed by stakeholders more than expected. The visuals are something I'm not 100% happy with, but in the end I was glad to have modernized it. The final result was cleaner- and it was organized for users who wanted to learn more about the company. It was also no longer housed within a clunky CMS, so it ran faster and was easier to implement.
      p
  .row.m-b-md
    .col-sm-8.col-sm-offset-2.text-center
      img(src='img/proj-acbj-2.jpg', alt='acbj.com')
  .row.m-b-md
    .col-sm-12.text-center.m-b-md
      a.btn.btn-default.btn-lg(href='http://www.acbj.com') Launch acbj.com
