.project
  .jumbotron.bg-crema.m-b-none
    .container
      .row
        .col-sm-12.text-center
          h1.animated.zoomIn Crema
          i.fa.fa-plus-circle.fa-3.animated.zoomIn.white
#cremaHidden.container-fluid.animated.fadeIn(style='display:none')
  .row
    .col-sm-8.col-sm-offset-2.text-center
      img(src='img/proj-crema.jpg', alt='Crema')
  .row.m-b-lg.m-t-md
    .col-sm-8.col-sm-offset-2
      h3
        | Introduction
      p
        | A startup local to Charlotte, NC came to my team at Levvel with a big idea and little knowledge on how to properly execute it. They knew their idea was unique, but lacked the time and resources in making it in-house. My goal was to provide the client with a holistic approach to product design- bringing together business, design, and technical teams, each with their own responsibilities, into a single iterative process of product discovery.
      h4
        | The Product
      p
        | Crema is for caffeine lovers who are passionate about the quality of their coffee. Built as an iOS app with an adjoining web interface, Crema’s primary goal is to provide users with an easy way to discover and connect with local cafés.
      h3
        | Product Strategy
      p
        | I focused on the overall product strategy first, which allowed me to effectively define exactly what Crema could be and how users would interact with it. I started out with a product strategy workshop where I identified Crema’s initial strengths and weaknesses. The main problem I encountered in this phase was value. What does this app offer that Yelp doesn’t already? Finding this answer became very apparent through a series of user interviews where we gathered real-life personas.
      h4
        | User interviews
      p
        | During my initial research I spent a lot of time at local coffee shops interviewing customers as well as shop owners. I found that Crema’s target audience wasn’t focused on getting a quick caffeine fix at their nearest coffee shop- they were much more concerned about the type of experience that came with drinking a quality cup of coffee. These were people searching for specialized coffee shops that knew exactly where their beans came from and when they were roasted. From shop owner to consumer, these people really loved coffee. Another thing that became abundantly clear through my initial research was the lack of low-cost alternatives to the typical marketing schemes owners were trying to implement within their businesses. From this, the notion of monetizing Crema to be an inexpensive marketing tool came to fruition.
      p
        | Now that we had a clear understanding of both target audiences, the solution for my original question was very straightforward: I could differentiate Crema’s iOS component by not displaying or promoting any large-chain coffee shops. This meant there would be no Starbucks, Caribous, Dunkin Donuts, etc. located anywhere within the database. There would also be a web component where shop owners could see metrics about their shop, edit the information that showed up on their shop page, and send push notifications to users who had favorited their shop.
      h4
        | Wireframing
      p
        | Wireframing is an incredible tool for mapping out proposed solutions without committing too much time. It allowed me to confirm ideas and identify issues early on, so I wouldn’t find out that something wouldn’t work after coding had already been completed. This is usually the point where big ideas get simplified and only a few use cases are deemed essential. However, since I was catering to two different types of users, I took a lot more into account and aimed for high flexibility. 
      p
        | This phase included many white-boarding and sketching sessions. Product managers, designers, and developers were all encouraged to get in a room together to talk out user flows and contribute their own ideas to help discover Crema’s potential. For us, this was a critical exercise in identifying what sort of innovation could be implemented and, ultimately, how valuable the product could be as a whole.
  .row.m-t-md
    .col-sm-8.col-sm-offset-2.text-center
      img(src='img/crema-wireframe.svg', alt='Crema Wireframes')
  .row.m-t-md
    .col-sm-8.col-sm-offset-2.text-center
      img(src='img/crema-wireframe-desktop.svg', alt='Crema Wireframes')
  .row.m-t-md
    .col-sm-8.col-sm-offset-2
      h3
        | Design
      p
        | Once the wireframes were in a good place I started to make them into tangible prototypes that could be beta-tested with users. My main goal here was to create a cohesive yet modular system that would look modern and also translate well between two different use cases.
      h4
        | Visual Design
      p
        | At this stage, I took my low-fidelity wireframes and started fleshing out a robust yet flexible UI system. The main thing we focused on here was emotional design. What feelings did we want to invoke in our users when they opened up Crema? I ended up getting most of the visual inspiration from the coffee shops that I visited during the user research phase. 
  .row.m-t-md
    .col-xs-6.col-sm-2.col-sm-offset-2.text-center
      img.m-b-sm(src='img/proj-crema-login.jpg', alt='Crema')
      small
        em Login screen
    .col-xs-6.col-sm-2.text-center
      img(src='img/proj-crema-nearby.jpg', alt='Crema')
      small
        em Nearby List
    .col-xs-6.col-sm-2.text-center
      img(src='img/proj-crema-map.jpg', alt='Crema')
      small
        em Nearby Map
    .col-xs-6.col-sm-2.text-center
      img(src='img/proj-crema-shop.jpg', alt='Crema')
      small
        em Shop Page
  .row.m-t-sm.m-b-md
    .col-xs-6.col-sm-2.col-sm-offset-3.text-center
      img(src='img/proj-crema-inbox.jpg', alt='Crema')
      small
        em Inbox
    .col-xs-6.col-sm-2.text-center
      img(src='img/proj-crema-message.jpg', alt='Crema')
      small
        em Shop Message
    .col-xs-6.col-sm-2.text-center
      img(src='img/proj-crema-me.jpg', alt='Crema')
      small
        em Me
  .row.m-t-md.m-b-md
    .col-sm-5.col-sm-offset-1.text-center
      img.m-b-sm(src='img/proj-crema-web-login.jpg', alt='Crema')
      small
        em Login screen
    .col-sm-5.text-center
      img.m-b-sm(src='img/proj-crema-web-overview.jpg', alt='Crema')
      small
        em Landing Page
  .row.m-t-md
    .col-sm-5.col-sm-offset-1.text-center
      img.m-b-sm(src='img/proj-crema-web-message.jpg', alt='Crema')
      small
        em Message Center
    .col-sm-5.text-center
      img.m-b-sm(src='img/proj-crema-web-shop.jpg', alt='Crema')
      small
        em My Shop
  .row.m-b-md.m-t-md
    .col-sm-8.col-sm-offset-2
      h4
        | Prototype Beta Testing
      p
        | The most valuable feedback came from beta-testing. Luckily, a small number of merchants and customers were kind enough to be Crema’s early test users and let us observe how they were handling the beta. Real-world tests are the cruelest, yet the most insightful. Overall, the feedback was good, but there were some seemingly ingenious ideas that got sent straight back to the drawing board. From this, I kept iterating on core functions and features until I was able to find a nice balance that worked well for all of Crema's users and their use-cases.
      h3
        | Conclusion
      p
        | Although still in the development phase, Crema is currently on its second round of beta testing and is planned to be released into the App Store soon. Myself and my team at Levvel was able to take this big idea and create a feasible MVP that can scale accordingly as Crema’s user base grows.

  .row.m-t-md.m-b-md
    .col-sm-12.text-center.m-b-md
      button.btn.btn-default.btn-lg(disabled='') Launching Soon
