.project
  .jumbotron.bg-hemmings.m-b-none
    .container
      .row
        .col-sm-12.text-center
          h1.animated.zoomIn Hemmings Daily
          i.fa.fa-plus-circle.fa-3.animated.zoomIn.white
#hemmingsHidden.container-fluid.animated.fadeIn(style='display:none')
  .row
    .col-sm-8.col-sm-offset-2.text-center
      img(src='img/proj-hemmings.jpg', alt='Hemmings')
  .row.m-b-md
    .col-sm-8.col-sm-offset-2
      h2.black.text-center.m-b-md
        strong The world's leading classic car news source
      p
        | Not long after being hired at ACBJ, I was asked if I'd be interested in redesigning Hemmings' blog. The project consisted of designing the blog's landing page and article pages. I had never done anything quite this big before but was happy to take on the challenge.
      p
        | Our initial meeting consisted of listing out requirements and goals. The homepage for Hemmings was redesigned not long before, so we needed to keep the look and feel consistent. Their main concerns were to increase social sharing, increase comments, and surface more content. The main stakeholder I worked with on this was open to trying out a lot of  cool ideas, and much of my early concepts reflected that.
  .row.m-t-md.m-b-md
    .col-sm-8.col-sm-offset-2.text-center
      img(src='img/proj-hemmings-1.jpg', alt='Hemmings')
  .row.m-b-md
    .col-sm-6.col-sm-offset-3.text-center
      small
        em Hemmings Daily inital concepts
  .row.m-b-md
    .col-sm-8.col-sm-offset-2
      p
        | After trying a bunch of different ideas I came up with a concept that hit all the goals they were trying to achieve. I kept the Blog landing page similar to Hemmings' current homepage in order to keep the brand consistent. The only big change to note on that page is the redesign of their ad and promotional modules. These make the whole experience flow much smoother and not cause as many interruptions.
  .row.m-t-md.m-b-md
    .col-sm-4.col-sm-offset-2.text-center
      img.m-b-md(src='img/proj-hemmings-2.jpg', alt='Hemmings')
      small
        em Landing Page
    .col-sm-4.text-center
      img.m-b-md(src='img/proj-hemmings-3.jpg', alt='Hemmings')
      small
        em Article Page
  .row.m-b-md
    .col-sm-8.col-sm-offset-2
      p
        | The Article page itself was a complete overhaul. The images span the full with of the page, and ads are quietly nested out of the way. I took several design aspects from their iOS app to further establish a sense of their brand. Underneath the article there is a 'Related Blog Posts' module- intended to keep users engaged with more content without having to search for it. Moving a bit farther down the page I also tackled their comments section. The original comments section was messy and underdesigned. Hemmings Daily has a lot of active users, so it was important to make the experience as easy as possible.
  .row.m-b-md
    .col-sm-8.col-sm-offset-2.text-center
      img(src='img/proj-hemmings2.jpg', alt='Hemmings')
  .row.m-b-md
    .col-sm-12.text-center.m-b-md
      button.btn.btn-default.btn-lg(disabled='') Launching Soon
