.project
  .jumbotron.bg-mixlab.m-b-none
    .container
      .row
        .col-sm-12.text-center
          h1.animated.zoomIn Mixlab
          i.fa.fa-plus-circle.fa-3.animated.zoomIn.white
#mixlabHidden.container-fluid.animated.fadeIn(style='display:none')
  .row
    .col-sm-8.col-sm-offset-2.text-center
      img(src='img/proj-mixlab.jpg', alt='Mixlab')
  .row
    .col-sm-8.col-sm-offset-2.m-b-md
      h2.black.text-center.m-b-md
        strong Bring the party with you - a pocket DJ app
      p
        | Mixlab is a fun and simple app I designed with the same friends I worked with on Crema. Meant to be a party app, you can choose songs from your music library and mix them with Mixlab's sounds. All you have to do is upload whichever song you want to play and start experimenting. The app comes pre-loaded with 3 sound packs and there are many others available to buy- making the possibilities endless.
  .row.m-b-md
    .col-sm-5.col-sm-offset-1.text-center
      img(src='img/proj-mixlab-1.jpg', alt='Mixlab')
      small
        em Sketching and Wireframing
    .col-sm-5.text-center
      img(src='img/proj-mixlab-2.jpg', alt='Mixlab')
      small
        em Visual inspo and final product
  .row.m-t-lg.m-b-md
    .col-sm-12.text-center.m-b-md
      button.btn.btn-default.btn-lg(disabled='') Launching Soon
