nav.navbar.navbar-fixed-top.custom-nav
  .container
    .navbar-header
      a(href='#')
        img.logo(src='/img/logo.svg', alt='Logo')
      a.navname.m-t-sm.m-l-sm Katy James
    ul.nav.nav-pills.pull-right.m-t-sm.hidden-xs
      li
        a(href='/img/KatyJames-Resume.pdf', target='_blank') Resume
      li.button
        a(href="mailto:katherineljames@gmail.com?subject=Let's Work Together!") Contact
